{ "compilation_cmd": "-Isrc -Imissing_headers",
  "files": [
    "src/ff_chunk.c",
    "src/ff_cyclic.c",
    "src/ff_keyset.c",
    "src/ff_file.c",
    "src/ff_parser.c",
    "src/ff_eval.c",
    "src/ff_engine.c",
    "src/ffactor.c",
    "analyze.c" ],
  "filesystem": {
    "enabled": true,
    "system_errors": false,
    "nb_max_files": 10,
    "nb_max_dirs": 10,
    "files": [ {
      "name": "input",
      "from": "test/suite" } ] },
  "main": "analyze",
  "stop-at-first-garbled": true,
  "stop-at-nth-alarm": 1 }
